<div class="item-wrap clearfix">
<div class="mini specifics">
	<a class="posted"><i class="icon-clock-2"></i>&nbsp; jan 12, 2013</a>
	<a class="posted-by"><i class="icon-camera-3"></i>&nbsp; john</a>
	<a class="posted-loc"><i class="icon-map-pin-fill"></i>&nbsp; location</a>
</div>

<div class="ftd-box">		  
	<div id="ftd-" class="shown">           
		<div id="c-box-left">              
			<div class="collage box-600 pull-left">						
				<div class='top'>            
					<div class="img-wrap wrap-main">
						<img class="collage-main" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                  
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                  
					</div>
				</div><!-- end top -->

				<div class='btm'>  
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                  
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="./assets/img/featured/urban-homes/primary_homes_1.jpg">                
					</div>
				</div><!-- end btm -->
			</div>                  
		</div><!-- end box-600 -->
	</div>  
</div><!-- end featured -->

<div class="c-box-right collage">
	<div class="info-box">
		<div class="info-content box">
			<h3>Urban Homes - Tipolo</h3>
			<p>
				Limited parking slots available with a total number of 257 parking spaces.
			</p>
			<p>Room height is 2.4 meters high.</p>
			<p>
				For inquiries and assistance contact:
				Jan Michael Santos
				Real Estate Salesperson 
				Broker: Krismond Ian Y. Guan PRC Lic. No. 5721
				Cellphone:(Smart) 0947-8243299
				(Sun) 0932-3413033
				Mail: pabahaysacebu@yahoo.com
			</p>
			<span class="fbl-box"><fb:like href="http://beta.kubo.loc/" send="false" layout="button_count" show_faces="false"></fb:like></span>
			<a class="more" href="/condo">more... <i class="icon-arrow-right-7"> </i></a>
		</div>
	</div>
</div><!-- end right side box -->
</div>