<div class="item-wrap clearfix">
<div class="mini specifics">
	<a class="posted"><i class="icon-clock-2"></i>&nbsp; <%= posted_date %></a>
	<a class="posted-by"><i class="icon-camera-3"></i>&nbsp; <%= posted_by %></a>
	<a class="posted-loc"><i class="icon-map-pin-fill"></i>&nbsp; <%= posted_location %></a>
</div>

<div class="ftd-box">		  
	<div id="ftd-" class="shown">           
		<div id="c-box-left">              
			<div class="collage box-600 pull-left">						
				<div class='top'>            
					<div class="img-wrap wrap-main">
						<img class="collage-main" src="<%= img_main %>">                
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="<%= img_0 %>">                  
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="<%= img_1 %>">                  
					</div>
				</div><!-- end top -->

				<div class='btm'>  
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="<%= img_2 %>">                  
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="<%= img_3 %>">                
					</div>
					<div class="img-wrap wrap-square">
						<img class="collage-square" src="<%= img_4 %>">                
					</div>
				</div><!-- end btm -->
			</div>                  
		</div><!-- end box-600 -->
	</div>  
</div><!-- end featured -->

<div class="c-box-right collage">
	<div class="info-box">
		<div class="info-content box">
			<h3><%= place_name %></h3>
			<p><%= place_details %></p>			
		</div>
	</div>
</div><!-- end right side box -->
</div>